/* Javadoc style sheet */

/* Define colors, fonts and other style attributes here to override the defaults */
@import url(http://fonts.googleapis.com/css?family=Maven+Pro|Droid+Sans+Mono);

/* Page background color */
body {
    /*background-color: #f0f0f0;*/
    background-color: #fdfdfd;
    color:#404040;
    font-family: 'Maven Pro', cursive;
}
a {
    color: #40b8e5;
    text-decoration: none;
}

/* Headings */
h1 {
    font-size: 160%;
    line-height: 48px;
    background-image: url("./resources/projectavatar.png");
    background-repeat: no-repeat;
}

h3 {
    background: #f0f0f0;
    /*background: #ffffff; */
}

pre {
    font-family: 'Droid Sans Mono', sans-serif;
    font-size: smaller;
}

code > pre {
    font-family: 'Droid Sans Mono', sans-serif;
    background-color: #f6f6f6;
}

/* Table colors */
.TableHeadingColor     {
    background: #40b8e5;
    color: #ffffff;
} /* Dark */
.TableSubHeadingColor  {
    background: #bbeefb;
} /* Light */
.TableRowColor         {
    background: #f0f0f0;
} /* White */
.TableRowColor:nth-child(even) {
    Background: #ffffff;
}

/* Font used in left-hand frame lists */
.FrameTitleFont   { font-size: 100%; }
.FrameHeadingFont { font-size:  90%; }
.FrameItemFont    { font-size:  90%; }

/* Navigation bar fonts and colors */
.NavBarCell1    {
    /* background-color:#bbeefb; */
    background-color: #f0f0f0;
    color:#afafaf;
} /* Light */
.NavBarCell1Rev {
    /* background-color:#40b8e5; */
    background-color: #f0f0f0;
    color:#404040;
} /* Dark */
.NavBarFont1    {
    color:#afafaf;
}
.NavBarFont1Rev {
}

.NavBarCell2    {
}
.NavBarCell3    {
}
